body {
    background-color:pink;
    height:100vh;
    text-align: center;
}

main {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
div:nth-child(even){
    border:5px solid yellow;
}
.father{
    width:200px;
    height:350px;
    border:5px solid white;
    margin:10px;
}

.tomato{
    background-color: tomato;
}
.teal{
    background-color: teal;
}
.burlywood{
    background-color: burlywood;
}
.thistle{
    background-color: thistle;
}

.inside{
    background-color:white;
    width:200px;
    height:100px;
    
    position:relative;
    top:10px;
    text-align:left    
}