.search-bar {
  background-color: white;
  padding: 20px 0px;
  margin:0px 20px;
  position:relative;
  top:-35px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-radius: 45px;
  box-shadow:0px 2px 15px rgba(0, 0, 0, 0.2);
}
.search-bar__column{
  margin: 0px 30px;
  color: rgba(0, 0, 0, 0.3);
}
#search-form input {
  border: none;
  font-size: 20px;
}
#search-form input::placeholder {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
}