@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";

/* Components */
@import "status-bar.css";
@import "search-bar.css";
@import "book-list.css";

body {
  width:450px;
  height:1000px;
  font-family: "Open Sans", sans-serif;
}
